OPENAI_API_KEY=<openai-api-key>

# Database configuration
MYSQL_USER=<mysql-user-name>
MYSQL_PASSWORD=<mysql-user-password>
MYSQL_ROOT_PASSWORD=<mysql-root-password>
MYSQL_HOST=mysql-service
MYSQL_PORT=3306
MYSQL_DATABASE= application_db

# Redis configuration
REDIS_URL=redis://redis-service:6379